<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIPF - Post Leaderboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <div class="px-4 sm:px-6 lg:px-8 max-w-3xl mx-auto my-10">
      <div class="flex items-center">
        <div class="flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">BIPF Leaderboard</h1>
          <p class="mt-2 text-sm text-gray-700">A list of all the current BIPF fellows that are participating in the weekly challenge.</p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 flex-none">
          <% if session[:twitter] %>
          <span class="text-sm text-gray-900">Logged in: @<%= session[:twitter] %></span>
          <% elsif params[:login].present? %>
          <a href='/auth/twitter' class="rounded-md bg-indigo-600 py-2 px-3 mr-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Twitter</a>
          <!--<a href='/auth/linkedin' class="rounded-md bg-indigo-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">LinkedIn</a>-->
          <% end %>
        </div>
      </div>
      <div class="mt-8 flow-root">

        <%= yield %>

      </div>
    </div>

    <% if params[:login] == 'true' %>
    <script type="text/javascript">

      document.cookie = "timezone_offset=" + ((new Date()).getTimezoneOffset()*60);

    </script>
    <% end %>
    <% if ENV['FATHOM_SITE_ID'] %>
    <p class="text-center my-10"><a href="https://usefathom.com/ref/DNQLHG" class="text-xs text-gray-400 hover:underline">Analytics by Fathom</a></p>
    <script src="https://cdn.usefathom.com/script.js" data-site="<%= ENV['FATHOM_SITE_ID'] %>" defer></script>
    <% end %>
  </body>
</html>
